body, input, select, textarea
{
	font-family:MS UI Gothic;
	font-size:9pt;
}

input[type="text"],
input[type="password"]
input[type="file"]
{
    height:14px;
}

select
{
    height:20px;
}

.menu
{
    text-align:center;
}

/* ページ全体 */
.page
{
    width: 960px;
    margin: 10px auto 0px auto;
    border: 1px solid #496077;
}

/* ヘッダ */
.header
{
    position: relative;
    background: #fff;
    width: 100%;
}

/* コンテンツ表示部 */
.main
{
    margin: 4px;
}

.clear
{
    clear: both;
}

/**/
.footer
{
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
}

.failureNotification
{
    color: Red;
}

/* 画面タイトル */
.Title
{
	color: #003580;
	font-size:12pt;
	font-weight:bold;
}

/* 画面タイトルの小さい文字 */
.TitleSmall
{
   	color: #003580;
	font-size:10pt;
	font-weight:bold;
}

/* ファンクションキーパネル */
.FuncPanel
{
	background-color: #6086BF;
	margin-top: 4px;
	margin-bottom: 4px;
	padding-top: 2px;
	padding-left: 24px;
	padding-bottom: 2px;
}

/* 登録画面のファンクションキーパネル */
.EntryFuncPanel
{
	margin-top: 2px;
	margin-bottom: 2px;
	padding-top: 2px;
	padding-left: 50px;
	padding-bottom: 2px;
}

/* ファンクションキー */
.FuncButton
{
    width : 120px;
    height : 28px;
}

/* 項目名ラベル */
.ItemName
{
    height:20px;   
	color:White;
	background-color: #003580;
	padding-left: 4px;
}

/* 項目パネル */
.ItemPanel
{
	/*background-color: #CCCCFF;*/
}

/* 選択ボタン */
.SelectButton
{
    padding-left:2px;
    /*height:20px;*/
    width:20px;
}

/* コード値入力 */
.CodeInput
{
    text-transform: uppercase;
    ime-mode: disabled;
}

/* テキスト入力 */
.TextInput
{
    ime-mode: active;
}

/* パスワード入力 */
.PasswordInput
{
    ime-mode: disabled;
}

/* 数値入力 */
.NumberInput
{
    ime-mode: disabled;
    text-align: right;
}

/* 日付入力 */
.DateInput
{
    ime-mode: disabled;
}

/* 読み取り専用 */
.ReadOnly,
input[readonly],
textarea[readonly],
select[disabled]
{
	/* border: none; */
	background-color: #CCCCFF;
}