<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- 構成ファイルのセクション定義 -->
  <configSections>
    <!-- log4netのセクション定義 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- Quillのセクション定義 -->
    <section name="quill" type="Seasar.Quill.Xml.QuillSectionHandler, Seasar.Quill" />
    <!-- Glimpseのセクション定義 -->
    <section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core" />
    <!-- アプリケーションのセクション定義 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="NEXS.ERP.CM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="100" slidingExpiration="true" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>

    <!--
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    -->

    <!-- Glimpse: This can be commented in to add additional data to the Trace tab when using WebForms
        <trace writeToDiagnosticsTrace="true" enabled="true" pageOutput="false"/> -->
    <httpModules>
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" />
    </httpModules>
    <httpHandlers>
      <add path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" />
    </httpHandlers>
  </system.web>

  <system.webServer>
    <!-- Glimpse -->
    <modules runAllManagedModulesForAllRequests="true">
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" preCondition="integratedMode" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Glimpse" path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" preCondition="integratedMode" />
    </handlers>
  </system.webServer>

  <!-- Image, Stylesフォルダ配下のファイルについては、未ログイン状態でも参照可能と設定-->
  <location path="Image">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <!-- log4net -->
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\log.txt" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %5p (%C:%M:%L) %m%n" />
      </layout>
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>

  <!-- quill -->
  <quill>
    <!-- S2Dao設定 
    <daoSetting>TypicalDaoSetting</daoSetting>
    -->
    <!-- トランザクション設定 -->
    <transactionSetting>NEXS.ERP.CM.BL.CMTransactionSetting</transactionSetting>
    <!-- データソース設定 -->
    <dataSources>
      <!-- SQLServer  -->
      <dataSource name="Default">
        <provider>SqlServer</provider>
        <!--
        <connectionString>"Data Source=localhost;Initial Catalog=ERP01;User ID=erp01;Password=erp01"</connectionString>
        -->
        <connectionString>"Data Source=localhost\sqlexpress;Initial Catalog=ERP01;User ID=erp01;Password=erp01"</connectionString>
        <class>Seasar.Extension.Tx.Impl.TxDataSource</class>
      </dataSource>
    </dataSources>    
  </quill>

  <!-- Glimpse -->
  <glimpse defaultRuntimePolicy="On" endpointBaseUri="~/Glimpse.axd">
    <!-- 
      For more information on how to configure Glimpse, please visit http://getglimpse.com/Help/Configuration
      or access {your site}/Glimpse.axd for even more details and a Configuration Tool to support you. 
      -->
  </glimpse>

  <appSettings>
    <!-- Glimpse -->
    <add key="Glimpse:DisableAsyncSupport" value="true"/>
  </appSettings>

  <!-- アプリケーションの設定 -->
  <applicationSettings>
    <NEXS.ERP.CM.Properties.Settings>
      <setting name="WriteAuditLog" serializeAs="String">
        <value>False</value>
      </setting>
    </NEXS.ERP.CM.Properties.Settings>
  </applicationSettings>
</configuration>